.footer a img{
    width: 35px;
    height: 40px;
    position: absolute;
    left: 500px;
    top: 630px;
    bottom: 20px;
}

#fb{
    width: 55px;
    left: 595px;
}

#twitter{
    left: 720px;
}

@media(max-width: 700px){
    .footer a img{
        position: absolute;
        left: 100px;
    }
    #fb{
        left: 200px;
    }
    #twitter{
        left: 300px;
    }
}
